@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  

  @layer utilities {
    .animate-slide {
      animation: slide 45s linear infinite;
    }
  }
  